.main {
  height: 400vh;
}

#home {
  height: 100vh;         /* Make section fill the screen */
  position: relative;    /* Anchor for absolutely positioned .title */
  overflow: hidden;      /* Optional: prevents overflow artifacts */
}

.title {
  position: relative;
  top: 40%;
  left: 50%;
  width: 100%;
  height: calc(var(--grid-size) * 7);
  transform: translate(-50%, -50%);
}

.layout {
  background: url("../design/main.png") center/cover no-repeat fixed;
}

.xdzzyq {
  height: calc(var(--grid-size) * 3);
  display: block;
  overflow: hidden;
  transform: translate(-50%, -50%) translate(10px, 2px);
}

.sun {
  transform-style: preserve-3d;
  align-items: center;
  width: 280px;
  transform: translate(-50%, -50%) translate(calc(var(--grid-size) * -2), var(--grid-size));
  filter: drop-shadow(var(--shadow-color) 0 0 2px);
}

.cir1, .cir2 {
  filter: drop-shadow(var(--shadow-color-inv) 0 0 2px);
}

.cir1 {
  transform: translate(-50%, -50%) translate(calc(var(--grid-size) * -1.5), 6px);
}

.cir2 {
  transform: translate(-50%, -50%) translate(17.5px, 60px);
}

.arc {
  mix-blend-mode: multiply;
}

.arc-path {
  width: 300px;
  height: 300px;
  fill: none;
  stroke: var(--light_blur);
  stroke-width: 35px;
  transform: translate(90px, 62px) rotate(90deg);
}

.arrow {
  width: 25px;
  transform: translate(-50%, -50%) translate(80px, -25px);
  filter: drop-shadow(var(--shadow-color) 0 0 2px);
}

footer {
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: 0.2em;
  text-align: center;
}

.grid-overlay {
  position: fixed;
  top: 0;
  left: -0;
  width: 100%;
  height: 100%;
  background-image:
    linear-gradient(to right, rgba(0,0,0,0.1) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0,0,0,0.1) 1px, transparent 1px);
  background-size: var(--grid-size) var(--grid-size);
  pointer-events: none;
  z-index: 9999;
}

.floating-nav {
  position: fixed;
  top: var(--grid-size);
  right: var(--grid-size);
  display: flex;
  flex-direction: row;
  background-color: rgba(255,255,255,0.85);
  padding: 0 1rem;
  gap: calc(var(--grid-size) * 4);
  border-radius: 999px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  z-index: 1000;
  backdrop-filter: blur(6px);
}

.floating-nav a {
  font-family: var(--font-zh-en);
  text-decoration: none;
  color: var(--text-color);
  box-sizing: border-box;
  /* width: calc(var(--grid-size) * 6); */
  height: var(--grid-size);
  justify-content: flex-end;
  display: flex;
  align-items: center;
}

.floating-nav a:first-child {
  width: auto;
}

.link-text {
  display: inline-block; /* Ensures the span only takes up as much width as the text */
  padding: 0;            /* Removes default padding */
}

.link-text:hover {
  color: #007BFF;
}