.main {
  height: 100vh;
}

.title {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.layout {
  background: url("../design/main.png") center/cover no-repeat fixed;
}

.xdzzyq {
  display: block;
  overflow: hidden;
}

.sun, .arrow {
  filter: drop-shadow(var(--shadow-color) 0 0 2px);
}

.sun {
  transform-style: preserve-3d;
  align-items: center;
  width: 280px;
  transform: translate(-30%, 15%);
}

.cir1, .cir2 {
  filter: drop-shadow(var(--shadow-color-inv) 0 0 2px);
}

.cir1 {
  transform: translate(-140%, -27.5%);
}

.cir2 {
  transform: translate(-37.5%, 147.5%);
}

.arc, .arrow {
  fill: aqua;
  mix-blend-mode: multiply;
}

.arc {
  width: 85px;
  transform: translate(-75%, -22.5%);
}

.arrow {
  width: 25px;
  transform: translate(230%, -28%);
}

footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: 0.2em;
  text-align: center;
  letter-spacing: -2px;
}

.grid-overlay {
  position: fixed;
  top: 0;
  left: -8px;
  width: 100%;
  height: 100%;
  background-image:
    linear-gradient(to right, rgba(0,0,0,0.1) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0,0,0,0.1) 1px, transparent 1px);
  background-size: var(--grid-size) var(--grid-size);
  pointer-events: none;
  z-index: 9999;
}

.floating-nav {
  position: fixed;
  top: var(--grid-size);
  right: var(--grid-size);
  display: flex;
  flex-direction: row;
  background-color: rgba(255,255,255,0.85);
  padding: 0 1rem;
  gap: calc(var(--grid-size) * 4);;
  border-radius: 999px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  z-index: 1000;
  backdrop-filter: blur(6px);
}

.floating-nav a {
  font-family: var(--font-zh-en);
  text-decoration: none;
  color: var(--text-color);
  box-sizing: border-box;
  /* width: calc(var(--grid-size) * 6); */
  height: var(--grid-size);
  justify-content: flex-end;
  display: flex;
  align-items: center;
}

.floating-nav a:first-child {
  width: auto;
}

.link-text {
  display: inline-block; /* Ensures the span only takes up as much width as the text */
  padding: 0;            /* Removes default padding */
}

.link-text:hover {
  color: #007BFF;
}