body {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  height: var(--body-height);
}

h1, h2, p {
  color: var(--text_color);
  font-family: var(--font-zh-en);
}

h1 {
  font-size: calc(var(--grid-size) * var(--h1-font-size-multiplier));
  font-weight: bold;
  text-align: center;
  text-shadow: var(--h1-text-shadow);
  letter-spacing: var(--h1-letter-spacing);
  width: 100%;
}

h2 {
  font-size: var(--h2-font-size);
  font-weight: bold;
  text-align: left;
  letter-spacing: var(--h2-letter-spacing);
}

p {
  text-align: left;
  letter-spacing: 0;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.unselectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE10+ */
  user-select: none;         /* Modern browsers */
  pointer-events: none;
  cursor: default;
}
