:root {
  --bg-color: rgb(255, 245, 230);
  --text_color: rgb(5, 5, 5);
  --shadow-color: #fff;
  --shadow-color-inv: rgba(5, 5, 5, 0.1);
  --light_blur: #00FFF0;
  --grid-size: 35px;
  --font-zh-en: 'Microsoft Yahei', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: rgb(5, 5, 5);
    --text_color: rgb(255, 245, 230);
    --shadow-color: #000;
  }
}

body {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  height: 200vh;
}

h1, h2, p {
  color: var(--text_color);
  font-family: var(--font-zh-en);
}

h1 {
  font-size: calc(var(--grid-size) * 1.4);
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 10px var(--shadow-color);
  letter-spacing: -3px;
  width: 100%;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  text-align: left;
  letter-spacing: -2px;
}

p {
  text-align: left;
  letter-spacing: 0;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.unselectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE10+ */
  user-select: none;         /* Modern browsers */
  pointer-events: none;
  cursor: default;
}
