:root {
  --bg-color: rgb(255, 245, 230);
  --text_color: rgb(5, 5, 5);
  --shadow-color: white;
  --shadow-color-inv: rgb(5, 5, 5, 0.1);
  
  --font-zh-en: 'Microsoft Yahei', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: rgb(5, 5, 5);
    --text_color: rgb(255, 245, 230);
    --shadow-color: black;
  }
}

body {
    background-color: var(--bg-color);
}

h1 {
    color: var(--text_color);
    font-family: var(--font-zh-en);
    font-size: 3em;
    font-weight: bold;
    text-align: left;
    text-shadow: 0px 0px 10px var(--shadow-color);
    letter-spacing: -3px;
}

h2 {
    color: var(--text_color);
    font-family: var(--font-zh-en);
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
    letter-spacing: -2px;
}

p {
    color: var(--text_color);
    font-family: var(--font-zh-en);
    text-align: left;
    letter-spacing: 0px;
}

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.unselectable {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera, and Edge */
}
